<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .submit-style{
            position: absolute;
            width: 99.4%;
            height: 50px;
        }
    </style>
</head>
<body>
    <form action="{% url 'update-hex-nut' %}" method="post">
        {% csrf_token %}
        nut id: <input type="text" name="nut_id"><br><br>
        <textarea name="json_data" rows="55" cols="257">
{
    "designation":"",
    "large_thread_pitch":0,
    "small_thread_pitch":0,
    "size":0,
    "hight":0,
    "e":0,
    "mass_1000_pc":0,
    "amout_pc_in_kg":0
}
        </textarea>
        <input type="submit" value="Send" class="submit-style">
    </form>
</body>
</html>